<caption>Liste des fichiers de log</caption>
<br /><br />
<div class="checkbox">
  <label>
    <input ng-model="search" type="checkbox" name="hide-folder"
        ng-init="checked=true"
        ng-true-value="{filename: '',size: '!folder',lastmodified: '', $:''}" 
        ng-false-value="{filename: '',size: '',lastmodified: '', $:''}"> Hide Folder
  </label>
</div>
<select class="form-control" name="singleSelect" id="singleSelect" ng-model="siteSelect" ng-change="onSelectSite(siteSelect)">
      <option value="">Veuillez choisir le server a logger</option>
      <option ng-repeat="site in sites" value="{{site.id}}">{{site.name}}</option>
</select>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>lastmodified</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="logfile in logfiles | filter:search">
    <!-- <tr ng-repeat="logfile in logfiles | filter:{size: 'folder'}"> -->
      <td ng-click="viewFile(logfile.filename, siteSelect)">{{logfile.filename}}</td>
      <td>{{logfile.size}}</td>
      <td>{{logfile.lastmodified}}</td>
      <td>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn btn-info" ng-click="viewFile(logfile.filename, siteSelect)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{file.filename}}</h4>
      </div>
      <div class="modal-body">
        -> Il pourraît être bon de prévoir un outil de regex ici
        <br />
        Nombre de ligne : {{file.fileContent.lineNumber}} 
        <br />
        <div ng-repeat="line in file.fileContent.lines">
          <br />
            {{line}}
          <br />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
