<br /><br />
Edit your site...
<br /><br />
<input ng-model="hideCredential" type="checkbox" name="hide-folder"
    ng-true-value="true" 
    ng-false-value="false"> Hide Credentials
<button type="button" class="btn btn-info" ng-click="viewSite()"><span class="glyphicon glyphicon-add" aria-hidden="true"></span> Add</button>
<table class="table">
  <caption>Liste des configuration -> log demandware</caption>
  <thead>
    <tr>
      <th>name</th>
      <th>host</th>
      <th ng-hide="hideCredential">credentials</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="site in sites">
      <td ng-click="viewSite(site)">{{site.name}}</td>
      <td>{{site.host}}</td>
      <td ng-hide="hideCredential">{{site.user + ' ' + site.pass}}</td>
      <td>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn btn-info" ng-click="viewSite(site)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</button>
          <button type="button" class="btn btn-danger" ng-click="removeSite(site)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{site.name}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="site-name" class="col-sm-2 control-label">Site Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="site-name" placeholder="Site Name" ng-model="site.name">
            </div>
          </div>
          <div class="form-group">
            <label for="site-host" class="col-sm-2 control-label">Site host</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="site-host" placeholder="Site Host" ng-model="site.host">
            </div>
          </div>
          <div class="form-inline">
              <div class="form-group">
                <label for="site-user" class="col-sm-2 control-label">User</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="site-user" placeholder="user" ng-model="site.user">
                </div>
              </div>
              <div class="form-group">
                <label for="site-pass" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="site-pass" placeholder="pass" ng-model="site.pass">
                </div>
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" class="close" data-dismiss="modal" aria-label="Close" class="btn btn-default">Cancel</a>
              <a ng-click="editSite(site)" class="btn btn-success">Save</a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
