<h4 class="modal-title" id="myModalLabel">{{file.filename}}</h4>
<div class="modal-body">
  -> Il pourraît être bon de prévoir un outil de regex ici
  <br />
  Nombre de ligne : {{file.fileContent.lineNumber}} 
  <br />
  <div ng-repeat="line in file.fileContent.lines">
      <br />
      {{line}}
      <br />
  </div>
</div>
