 <ul class="nav nav-tabs">
    <li ng-repeat="tab in tabs"
        ng-class="{active:isActiveTab(tab.tpl)}"
        ng-click="onClickTab(tab)">
        <a>{{tab.title}}</a>
    </li>
</ul>

<div id="mainView">
    <div ng-include="currentTab"></div>
</div>
